DOMAIN=hackari.duckdns.org
CERTBOT_EMAIL=admin@example.com
CERTBOT_STAGING=0
FRONTEND_URL=https://hackari.duckdns.org
CORS_ALLOWED_ORIGINS=https://hackari.duckdns.org,https://ujyasuyanagi.github.io
COOKIE_SECURE=true
COOKIE_SAME_SITE=None
VITE_API_URL=
VITE_ALLOWED_HOSTS=localhost,127.0.0.1,hackari.duckdns.org
